<!DOCTYPE html>
<html>

    <head>
        
        <title>Liên hệ HUSTHOME</title>

        <link rel="stylesheet" type="text/css" href="SupportMain.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="navigation.css">
        <link rel="stylesheet" type="text/css" href="D:\Program\HTML\Basic Learning\Cssnavbar.css">

    </head>

    <body>
        
        <ul>
            <li><a href="https://www.facebook.com/">Home</a></li>
            <li><a href="https://www.google.com/">About</a></li>
            <li><a href="https://www.youtube.com/">Services</a></li>
            <li><a href="https://twitter.com/home">Contact</a></li>
        </ul>
        
        <div class="contact_info_wrapper">
            <h1>THÔNG TIN LIÊN HỆ HUSTHOME</h1>

            <div class="info_block">
                <div class="container">
                    <div class="row">
                        <div class="column" style="background-color: #ffe4bd;">
                            <h2>BÁN BẤT ĐỘNG SẢN</h2>

                            <div class="view_element_container">
                                <select name="info_select_0" class="info_select">
                                    <option hidden disabled selected value><b>Chọn căn hộ bạn muốn mua</b></option>
                                    <option disabled value="001">HÀ NỘI</option>
                                    <option value="002">Harmony Bách Khoa</option>
                                    <option value="003">Harmony Minh Khai</option>
                                    <option value="004">Harmony Lê Thanh Nghị</option>
                                    <option disabled></option>
                                    <option disabled value="005">THÁI NGUYÊN</option>
                                    <option value="006">Amadues Lương Định Của</option>
                                    <option value="007">Amadues Thập Lục</option>
                                    <option value="008">Amadues Phạm Văn Đồng</option>
                                    <option value="009">Amadues Tiến Bộ</option>
                                    <option disabled></option>
                                    <option disabled value="010">HÀ TĨNH</option>
                                    <option value="011">Iris Ba Hoa</option>
                                    <option value="012">Iris Thiên Cầm</option>
                                    <option value="013">Iris Đồng Lộc</option>
                                </select>
                            </div>

                            <div class="information">
                                <h3 class="info title">Harmony Bách Khoa</h3>

                                <div class="row_mb5">
                                    <i class="fa fa-home"></i>
                                    <label class="label_info">Địa chỉ dự án</label>
                                    <p class="parag_info">Số 100 Đại Cồ Việt, phường Bách Khoa, quận Hai Bà Trưng, Hà Nội</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-home"></i>
                                    <label class="label_info">Địa chỉ giao dịch</label>
                                    <p class="parag_info">Tầng 1, tòa nhà A5-ĐN1, đường Trần Thủ Độ, P. Hoàng Liệt, Q. Hoàng Mai, Hà Nội</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-phone"></i>
                                    <label class="label_info">Điện thoại</label>
                                    <p class="parag_info">0933471824</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-envelope"></i>
                                    <label class="label_info">Thư điện tử</label>
                                    <p class="parag_info">harmonygl@gmail.com</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-globe"></i>
                                    <label class="label_info">Trang web</label>
                                    <p class="parag_info">https://www.husthome.com.vn</p>
                                </div>
                            </div>
                        </div>

                        <div class="column" style="background-color: #ffd191;">
                            <h2>BAN QUẢN LÝ CHUNG CƯ</h2>

                            <div class="view_element_container">
                                <select name="info_select_1" class="info_select">
                                    <option hidden disabled selected value><b>Chọn chung cư bạn muốn được tư vấn</b></option>
                                    <option disabled value="101">PROJECT HUSTHOME Harmony (Hà Nội)</option>
                                    <option value="102">HUSTHOME Hai Bà Trưng</option>
                                    <option value="103">HUSTHOME Đại Cồ Việt</option>
                                    <option value="104">HUSTHOME Trần Quốc Tuấn</option>
                                    <option disabled></option>
                                    <option disabled value="105">PROJECT HUSTHOME Amadues (Thái Nguyên)</option>
                                    <option value="106">HUSTHOME Hoàng Văn Thụ</option>
                                    <option value="107">HUSTHOME Lương Ngọc Quyến</option>
                                    <option value="108">HUSTHOME Trường Chinh</option>
                                    <option value="109">HUSTHOME Thái Nguyên</option>
                                    <option disabled></option>
                                    <option disabled value="110">PROJECT HUSTHOME Iris (Hà Tĩnh)</option>
                                    <option value="111">HUSTHOME Bà Chiểu</option>
                                    <option value="112">HUSTHOME Bình Thạnh</option>
                                    <option value="113">HUSTHOME Lê Hồng Phong</option>
                                </select>
                            </div>

                            <div class="information">
                                <h3 class="info title">HUSTHOME Hoàng Văn Thụ</h3>

                                <div class="row_mb5">
                                    <i class="fa fa-home"></i>
                                    <label class="label_info">Địa chỉ chung cư</label>
                                    <p class="parag_info">4 Lương Định Của, Tổ 11, Phường Hoàng Văn Thụ, Thành phố Thái Nguyên, Tỉnh Thái Nguyên</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-phone"></i>
                                    <label class="label_info">Điện thoại</label>
                                    <p class="parag_info">0973917603</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-envelope"></i>
                                    <label class="label_info">Thư điện tử</label>
                                    <p class="parag_info">amadeusht@gmail.com</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-globe"></i>
                                    <label class="label_info">Trang web</label>
                                    <p class="parag_info">https://www.husthome.com.vn</p>
                                </div>
                            </div>
                        </div>

                        <div class="column" style="background-color: #ffe4bd;">
                            <h2>BAN QUẢN LÝ DỰ ÁN</h2>

                            <div class="view_element_container">
                                <select name="info_select_2" class="info_select">
                                    <option hidden disabled selected value>Chọn dự án bạn muốn được tư vấn</option>
                                    <option value="201">PROJECT HUSTHOME Harmony (Hà Nội)</option>
                                    <option value="205">PROJECT HUSTHOME Amadues (Thái Nguyên)</option>
                                    <option value="210">PROJECT HUSTHOME Iris (Hà Tĩnh)</option>
                                </select>
                            </div>

                            <div class="information">
                                <h3 class="info title">PROJECT HUSTHOME Iris</h3>
                                
                                <div class="row_mb5">
                                    <i class="fa fa-home"></i>
                                    <label class="label_info">Địa chỉ BQL dự án</label>
                                    <p class="parag_info">Địa chỉ 1: 1095 Hà Huy Tập, Phường Nam Hà, Thành phố Hà Tĩnh, Tỉnh Hà Tĩnh</p>
                                    <p class="parag_info">Địa chỉ 2: 268 đường Trần Phú, phường Thạch Linh, Thành phố Hà Tĩnh, Tỉnh Hà Tĩnh, Việt Nam</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-phone"></i>
                                    <label class="label_info">Điện thoại</label>
                                    <p class="parag_info">0175844104</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-envelope"></i>
                                    <label class="label_info">Thư điện tử</label>
                                    <p class="parag_info">iris.info@gmail.com</p>
                                </div>

                                <div class="row_mb5">
                                    <i class="fa fa-globe"></i>
                                    <label class="label_info">Trang web</label>
                                    <p class="parag_info">https://www.iris.husthome.com.vn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>

</html>