/* --- */
/* I. VRT:  */

.float {
	font-size: 150%;
  position: fixed;
  /* width: 60px;
  height: 60px; */
  /* bottom: 8%; */
	top: 2%;
  /* right: 40px; */
  left: 50%;
  /* background-color:#0C9; */
  /* color:#FFF; */
  text-align: center;
  /* box-shadow: 2px 2px 3px #999; */
  background-color: #07414c80;
  color: white;
  padding: 0.5% 0.3%;
  width: 10%;
  border-radius: 10px;
  text-decoration: none;
}

.float:hover {
	background-color: #105b6a80;
}

/* I.1. APARTMENT: */

.VRT a {
  text-decoration: none;
}

.VRT nav {
  font-family: monospace;
}

.VRT ul {
  /* background: darkorange; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.VRT li {
  color: #fff;
  background: darkorange;
  display: block;
  /* padding: 1rem; */
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.VRT li a {
  color: #fff;
}

.VRT li:hover,
.VRT li:focus-within {
  background: red;
  cursor: pointer;
}

.VRT li:focus-within a {
  outline: none;
}

.VRT ul li ul {
  /* background: orange; */
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  left: 0;
	right: 0;
  display: none;
}

.VRT ul li ul li {
  padding: 1rem;
  border-radius: 10px;
  margin: 1%;
	font-size: 85% !important;
}

.VRT ul li:hover > ul,
.VRT ul li:focus-within > ul,
.VRT ul li ul:hover,
.VRT ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

.VRT ul li ul li {
  clear: both;
  /* width: 100%; */
}

/* --- */

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 400px) {
	#features {
		padding: 20px;
		width: 111%;
	}
	#about,
	#services,
	#testimonials,
	#team,
	#contact,
	#footer {
		width: 111%;
	}

	#portfolio {
		width: 110%;
	}
}